* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: #111;
}

body {
	background-color: #fec89a;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}